@use '../base/variables.scss' as *;

.portfolio {
    padding: 112px 0 96px 0;
    background-color: $light-grey;
    &__title {
        margin: 0 auto;
        text-align: center;
    }
    &__wrap {
        margin-top: 60px;
        iframe {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        }
    }
    &__subtitle {
        text-align: center;
        a {
            color: $black;
        }
    }
}